div.car-div  
    strong.box___strong-text Koenigsegg
    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
    p.box___p-text sport
    img.box___car-img(src="../../assets/imgs/carcar2.png", alt="")
    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
    strong.box___strong-text $99.00/
    p.box___p-text2 day 
    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now
