footer 
    img.footer-logo(src="../../assets/imgs/logo.png", alt="")
    p.footer-p1 Our vision is to provide convenience and help increase your sales business.
    div.footer-conetiner 
        div
            b About
            p How it works
            p Featured  
            p Partnership
            p Bussiness Relation
        div 
            b Community
            p Events    
            p Blog
            p Podcast
            p Invite a friend
        div 
            b Socials
            p Discord
            p Instagram
            p Twitter
            p Facebook
    img.footer_line(src="../../assets/imgs/line1.png", alt="")
    div.footer-privacy 
        p.privacy-leader ©2022 MORENT. All rights reserved 
        div.footer-condition 
            p Privacy And Policy
            p Terms and Condition