header 
    img.header__img-one(src="../../assets/imgs/logo.png", alt="logo MORENT")
    div 
        img.header__div-search.img(src="../../assets/imgs/search.png", alt="")
        div.header__div-2 
            img(src="../../assets/imgs/Like.png", alt="like png")
            img(src="../../assets/imgs/Notification.png", alt=" Notifications png")
            img(src="../../assets/imgs/Settings.png", alt="settings png")
        img.header__div-profil.png(src="../../assets/imgs/profil.png", alt="profil png") 
    div.header__div-3 
        img.header-div-2_one(src="../../assets/imgs/search2.png", alt="search png")
        img(src="../../assets/imgs/filter.png", alt="filter png")
