doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HF-dashboard
        link(rel="stylesheet", href="../../css/index.css")
    body 
        include header 
        aside 
            menu 
                div 
                    p.main-menu M A I N M E N U
                    div.box1 
                        img.box1___first-img(src="../../assets/imgs/house-2sufix.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/housedom2.png", alt="")
                        p Dashboard
                    div.box2
                        img.box1___first-img(src="../../assets/imgs/carcars.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/carcarwhite.png", alt="")
                        p Car Rent
                    div.box3
                        img.box1___first-img(src="../../assets/imgs/chart.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/chartinsight.png", alt="")
                        p Insight
                    div.box4 
                        img.box1___first-img(src="../../assets/imgs/empty-wallet-changeMoneys.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/empty-wallet-changeMoneys2.png", alt="")
                        p Reimburse
                    div.box5  
                        img.box1___first-img(src="../../assets/imgs/message-notifinbox2.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/message-notifinbox.png", alt="")
                        p Inbox
                    div.box6  
                        img.box1___first-img(src="../../assets/imgs/calendar.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/calendar2.png", alt="")
                        p Calender
                div.preffer 
                    p.preff P R E F E R E N C E S
                    div#box_div.box7  
                        img.box1___first-img(src="../../assets/imgs/setting2.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/setting.png", alt="")
                        p Settings
                    div#box_div.box8
                        img.box1___first-img(src="../../assets/imgs/info-circle2.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/info-circle.png", alt="")
                        p Help & Center
                    div#box_div.box9       
                        img.box1___first-img(src="../../assets/imgs/briefcase2.png", alt="")
                        img.box1___second-img(src="../../assets/imgs/briefcase.png", alt="")
                        p Dark Mode
                    img.logout-png(src="../../assets/imgs/Logout.png", alt="")     
        main 
            section.section-1__pag2 
                p.section-1__pg2__p1 Details Rental   
                img.section-1__pg2__map(src="../../assets/imgs/maps.png", alt="")
                img.section-1__pg2__look(src="../../assets/imgs/look.png", alt="")
                img.section-1__pg2__name(src="../../assets/imgs/Car Name.png", alt="")
                p.section-1__pg2__p2 #9761
            section.section_2__pag2 
                div.boxes-sct 
                    img.pick-up-next(src="../../assets/imgs/Pick - Up.png", alt="")   
                    div.boxes-text-next 
                        div
                            strong Locations 
                            p Select your city
                        div 
                            strong Date
                            p Select your date
                        div
                            strong Time 
                            p Select your time
            section.section_3__pag2 