doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HF - Home Car Rent
        link(rel="stylesheet", href="../../css/index.css")
    body 
        include header
        main 
            mixin Koenigsegg 
                div.car-div#koenseg  
                    strong.box___strong-text Koenigsegg
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text sport
                    img.box___car-img(src="../../assets/imgs/carcar2.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $99.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now
            mixin Nissan
                div.car-div#nissan
                    strong.box___strong-text Nissan GT - R
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text sport
                    img.box___car-img(src="../../assets/imgs/carnisan.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $80.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now  
            mixin Rolls-royc 
                div.car-div#rools  
                    strong.box___strong-text Rolls - Royce
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text Sedan
                    img.box___car-img(src="../../assets/imgs/Carrolsroyc.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesificationspecc2.png", alt="")
                    strong.box___strong-text $96.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now   
            mixin AllRush
                div.car-div#AllRush  
                    strong.box___strong-text All New Rush
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text SUV
                    img.box___car-img(src="../../assets/imgs/Carallrush.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $72.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now   
            mixin CRV
                div.car-div#CRV  
                    strong.box___strong-text CR - V
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text SUV
                    img.box___car-img(src="../../assets/imgs/CarCR - V.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $80.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now      
            mixin AllTerios
                div.car-div#AllTerios
                    strong.box___strong-text All New Terios
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text SUV
                    img.box___car-img(src="../../assets/imgs/CarAll New Terios.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $74.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now  
            mixin CRV2
                div.car-div#CRV  
                    strong.box___strong-text CR - V
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text SUV
                    img.box___car-img(src="../../assets/imgs/Carcrv2.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $80.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now  
            mixin NewMG
                div.car-div#NewMG
                    strong.box___strong-text New MG ZS
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text SUV
                    img.box___car-img(src="../../assets/imgs/CarNew MG ZS.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $80.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now  
            mixin NewMG2
                div.car-div#NewMG
                    strong.box___strong-text New MG ZS
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text SUV
                    img.box___car-img(src="../../assets/imgs/Carnewmg.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $80.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now  
            mixin MGExclusice
                div.car-div#MGZXExclusice
                    strong.box___strong-text MG ZX Exclusice
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text Hatchback
                    img.box___car-img(src="../../assets/imgs/Carvvv.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $76.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now
            mixin MGZXExcite
                div.car-div#MGZXExcite
                    strong.box___strong-text MG ZX Exclusice
                    img.box___Like-img(src="../../assets/imgs/Like (1).png", alt="")
                    p.box___p-text Hatchback
                    img.box___car-img(src="../../assets/imgs/Carvvv.png", alt="")
                    img.box___liquli-img(src="../../assets/imgs/Spesification.png", alt="")
                    strong.box___strong-text $74.00/
                    p.box___p-text2 day 
                    button(type="button" onclick="window.location.href='./footer.html'").box___button Rent Now                                                                   
            section.section-1__page1 
                div.sct1__box-1 
                    b The Best Platform for Car Rental
                    p Ease of doing a car rental safely and reliably. Of course at a low price.
                    button Rental Car
                    img(src="../../assets/imgs/car.png", alt="")
                div.sct1__box-2 
                    b Easy way to rent a car at a low price
                    p Providing cheap car rental services and safe and comfortable facilities.
                    button Rental Car
                    img(src="../../assets/imgs/car2.png", alt="")
            section.section-2__page2 
                div.boxes-sct 
                    img.pick-up(src="../../assets/imgs/Pick - Up.png", alt="")   
                    div.boxes-text
                        div
                            strong Locations 
                            p Select your city
                        div 
                            strong Date
                            p Select your date
                        div
                            strong Time 
                            p Select your time
                img.switch_img(src="../../assets/imgs/Switch.png", alt="")   
                div.boxes-sct#boxes2
                    img.pick-up(src="../../assets/imgs/Drop - Off.png", alt="")   
                    div.boxes-text 
                        div
                            strong Locations 
                            p Select your city
                        div 
                            strong Date
                            p Select your date
                        div
                            strong Time 
                            p Select your time
            section.section-3__page1  
                p.text-popular Popular Car
                div.popul-box1 
                    +Koenigsegg    
                    +Nissan 
                    +Rolls-royc  
                    +Nissan
            section.section-4__page1   
                p.text-recomend Recomendation Car
                div.popul-box2
                    +AllRush 
                    +CRV 
                    +AllTerios 
                    +CRV2
                    +MGExclusice
                    +NewMG
                    +MGZXExcite
                    +NewMG2 
            button.mores Show more car        
        include footer        